{% extends 'base.html.twig' %}

{% block title %}Proveedors{% endblock %}

{% block body %}
    {% if proveedores %}
            <table id="proveedors" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
                        <tr>
                            <td>{{ proveedor.nombre }}</td>
                            <td>
                                <a href="/proveedor/{{ proveedor.id }}" class="btn btn-dark">Mostrar</a>
                                <a href="/proveedor/editar/{{ proveedor.id }}" class="btn btn-light">Editar</a>
                                <a href="#" class="btn btn-danger delete-proveedor" data-id="{{ proveedor.id }}">Borrar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay Proveedores</p>
        {% endif %}
    {% endblock %}

    {% block javascripts %}
    <script src="/js/main.js"></script>
{% endblock %}